body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.perfil-container {
  padding-top: 40px;
  position: relative;
}

/* Botón cerrar */
.btn-cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header-box {
  background: linear-gradient(to right, #a5ded3, #b9e4de);
  padding: 60px 20px 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.circle-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  border: 5px solid white;
}

.circle-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nombre {
  margin-top: 50px;
  font-size: 20px;
  color: #005f63;
}

.info-box {
  background: white;
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.titulo-seccion {
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 20px;
  color: #005f63;
}

.logros .logro {
  margin-bottom: 20px;
}

.icono-logro {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

.icono-logro img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bg-circle {
  background-color: #2baaaa;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.custom-footer {
  background-color: #0E7F7D !important;
  color: white;
  font-size: 14px;
  border-top: 2px solid #ffffff50;
}



.custom-footer .footer-title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.custom-footer .footer-link {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}

.custom-footer .footer-link:hover {
  text-decoration: underline;
}

.custom-footer .social-icon {
  width: 30px;
  height: 30px;
}

